h4{
    text-align: center;
}

.container .left{
    height:100px;
    background-color: bisque;
}
.container .right{
    height:100px;
    background-color: darkseagreen;
}


/* 右适应 浮动*/

#rfloatLeft{
    width:200px;
    float:left;
}
#rfloatright{
    float:left;
}


/* 右适应 定位*/

#rabsoContainer{
    position: relative;
}

#rabsoLeft{
    position:absolute;
    top:0;
    left:0;
    width:200px;
}

#rabsoRight{
    margin-left:200px;
}

/* 右适应 flex*/


#rflexContainer{
    display: flex;
}
#rflexLeft{
    flex:0 0 auto;
    width:200px;
}
#rflexRight{
    flex:1 1 auto;
}





/* 左适应 浮动负边距   */

#lfloatContainer{
    overflow: hidden;
}


#lfloatRight{
    float:left;
    width:200px;
    margin-left:-200px
}

#lfloatLeft{
    width:100%;
    float:left;
    box-sizing: border-box;
    padding-right:200px;
}


/* 左适应  定位*/

#labsoContainer{
    position: relative;
}

#labsoRight{
    position:absolute;
    top:0;
    right:0;
    width:200px;
}


/* 左适应 flex*/



#lflexContainer{
    display: flex;
}
#lflexLeft{
    flex:1 1 auto;
}

#lflexRight{
    width:200px;
    flex:0 0 auto;
}
